.idea
.DS_Store
.ipynb_checkpoints
/.cph_tmplvskt9ya/pkg-ffmpeg-4.0-h01ea3c9_0.tar.zst
data/CorelDB
data/image.orig
data/image.vary.jpg
data/stereo
data/feature_evaluation_data
data/artificial
data/dense
data/pair
data/backupData/test
data/DepthEstimationSummary.pdf
data/DepthEstimationSummary.xlsx
*.pyc
*.pdf
*.xlsx
matchedPoints*
data/dataset/stereo_heuristic_data/*.csv
